.container {
    width: 100%;
    color: white;
}

.menu {
    background-color: orangered;
    height: 40px;
}

.header {
    background-color: rgb(160, 0, 0);
    height: 200px;
}

.content {
    background-color: blue;
    height: 600px;
}

.footer {
    background-color: goldenrod;
    height: 60px;
}